<%= content_for :page_title, 'Partners' %>

<ul>
  <% @partners.each do |p| %>
    <li>
      <b>Name:</b> <%= p.name %><br/>
      <b>Mobile Number:</b> <%= p.mobile_number %>
    </li>
  <% end %>
</ul>
