<%= content_for :page_title, "Dashboard" %>


<div class="container content">
  <div class="row-fluid">
    <div class="col-sm-12">
      <h3><i class="fa fa-bar-chart-o"></i> Current Stock Price</h3>
      <div id="stockPrice" class="center" style="height:400px"></div>
    </div>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="col-sm-6">
      <h3><span class="fa fa-facebook"><i></i></span> Facebook Fans</h3>
      <div id="facebookChart" style="height:300px" ></div>
    </div>

    <div class="col-sm-6">
      <h3><span class="fa fa-twitter"><i></i></span> Twitter Followers</h3>
      <div id="twitterChart" style="height:300px" ></div>
    </div>
  </div>
</div>
