<div class="navigation">
  <table>
  <tr>
    <td><%= link_to 'Orders', admin_orders_path %></td>
    <td><%= link_to 'Customers', admin_customers_path %></td>
    <td><%= link_to 'Partners', admin_partners_path %></td>
    <td><%= link_to 'Stores', admin_stores_path %></td>
  </tr>
  </table>
</div>
