<%= content_for :page_title, "#{@store.name} Inventory" %>

<ul>
  <% @inventory.each do |i| %>
    <li>
      <b>Name:</b> <%= i.name %><br/>
      <b>Price:</b> <%= i.price %>
    </li>
  <% end %>
</ul>
