<%= content_for :page_title, 'Customers' %>

<ul>
  <% @customers.each do |c| %>
    <li>
      <b>Name:</b> <%= c.name %><br/>
      <b>Mobile Number:</b> <%= c.mobile_number  %>
    </li>
  <% end %>
</ul>
