<div class="row">
  <!-- start: Icon Box Start -->
  <div class="col-sm-6 col-md-4">
    <div class="icons-box vertical">
      <div class="row">
        <div class="col-xs-4">
          <i class="fa fa-check circle full-color big"></i>
        </div>

        <div class="col-xs-8">
          <h3>Easy to use</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>		
    </div>
  </div>
  <!-- end: Icon Box-->

  <!-- start: Icon Box Start -->
  <div class="col-sm-6 col-md-4">
    <div class="icons-box vertical">
      <div class="row">
        <div class="col-xs-4">
          <i class="fa fa-trophy circle full-color big"></i>
        </div>

        <div class="col-xs-8">
          <h3>Best choice</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>		
    </div>
  </div>
  <!-- end: Icon Box-->

  <!-- start: Icon Box Start -->
  <div class="col-sm-6 col-md-4">
    <div class="icons-box vertical">
      <div class="row">
        <div class="col-xs-4">
          <i class="fa fa-tablet circle full-color big"></i>
        </div>

        <div class="col-xs-8">
          <h3>Fully responsive</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Icon Box-->
</div>

