<% content_for :page_title do %>
  <i class="fa fa-building-o"></i>  About Us
<% end %>


<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <!-- start: About Us -->
          <div id="about">
            <div class="title"><h3>About Us</h3></div>
            <p>
            GoForYou tries to bring you closer to what you want by connecting you with our Partners. Our Parters will go and collect any item from whatever the location and bring it to you for a small delivery fee, plus the cost of the items that need purchasing (if that is the case).
            </p>
            <p>
            Observing how easy to use and how rapid growth of Uber was, we decided to follow suite and fill in a gap within the carrier industry we have been craving for years. Gaining delivery from services and companies that do not delivery. Our CEO does not own a vehicle himself, so he wanted to just have a cheeky bite to eat at Maccy Dee's. It would entail traveling miles to the nearest store, why don't they just delivery? Well now they do, with the help of the GoForYou app.
            </p>
          </div>
          <!-- end: About Us -->

          <!-- start: History -->
          <!--<div id="history">
            <div class="title"><h3>History</h3></div>
            <p>
            <span class="dropcap">P</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
          </div> -->
          <!-- end: History -->
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <!-- start: Team -->
      <div id="team">
        <div class="col-sm-12">
          <div class="title text-center"><h3>Team</h3></div>
        </div>

        <!-- start: About Member -->
        <div class="col-sm-12">
          <%= image_tag 'ceo-photo.jpg', alt: 'CEO', width: '80%', class: 'center-block img-rounded' %>
          <div class="team-name">James Summerill<span> / Founder, CEO</span></div>
          <p>
          </p>
          <div class="social_profiles center-block">
            <ul class="social-bookmarks">
              <li class="googleplus">
                <%= link_to 'googleplus', 'https://plus.google.com/104355109594357823061/', target: '_BLANK' %>
              </li>
              <li class="linkedin">
                <%= link_to 'linkedin', 'https://uk.linkedin.com/in/shoutsid', target: '_BLANK' %>
              </li>
              <li class="twitter">
                <%= link_to 'twitter', 'https://twitter.com/shoutsid06', target: '_BLANK' %>
              </li>
            </ul>
          </div>
        </div>
        <!-- end: About Member -->
      </div>
      <!-- end: Team -->
    </div>
  </div>
</div>
