<% content_for :page_title do %>
  <i class="fa fa-phone"></i>  Contact Us
<% end %>

<!-- start: Map -->
<div>
  <!-- starts: Google Maps -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <div id="googlemaps-container-top"></div>
  <div id="googlemaps" class="google-map google-map-full"></div>
  <div id="googlemaps-container-bottom"></div>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= javascript_include_tag 'jquery.gmap.min'%>
  <script type="text/javascript">
    $('#googlemaps').gMap({
      maptype: 'ROADMAP',
      scrollwheel: false,
      zoom: 13,
      markers: [{
        address: 'Durham, United Kingdom',
        html: '',
        popup: false,
      }],
    });
  </script>
  <!-- end: Google Maps -->
</div>
<!-- end: Map -->

<div id="wrapper">
  <div class="container">
    <div class="row">

      <!-- start: Contact Info -->
      <div class="col-sm-3">
        <div class="title"><h3>Contact Info</h3></div>
        <p>
        <b>GoForUs</b>
        </p>
        <p>
        Durham, United Kingdom
        </p>
        <p>
        Phone: (+44) To be confirmed
        </p>
        <p>
        Email: contact@companyname.com
        </p>
        <p>
        Web: goforus.info
        </p>
      </div>
      <!-- end: Contact Info -->

      <!-- start: Contact Form -->
      <div class="col-sm-4">
        <div class="title"><h3>Contact Form</h3></div>

        <!-- start: Contact Form -->
        <div id="contact-form">
          <form method="post" action="">
            <fieldset>

              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>

              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>

              <div class="form-group">
                <label for="www">WWW:</label>
                <input type="text" class="form-control" id="www" name="www">
              </div>

              <div class="form-group">
                <label for="message"><span>Message:</span></label>
                <textarea class="form-control" id="message" name="message" rows="7"></textarea>
              </div>

              <div class="actions">
                <a href="#" class="btn btn-primary" id="send">Send message</a>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- end: Contact Form -->
      </div>
      <!-- end: Contact Form -->

      <!-- start: Social Sites -->
      <div class="col-sm-5">
        <div class="title"><h3>Follow US!</h3></div>
        <ul class="social-bookmarks">
          <li class="facebook">
            <%= link_to 'facebook', 'https://www.facebook.com/goforus.ltd', target: '_BLANK' %>
          </li>
          <li class="github">
            <%= link_to 'github', 'https://www.github.com/pbc-ltd', target: '_BLANK' %>
          </li>
          <li class="googleplus">
            <%= link_to 'googleplus', 'https://plus.google.com/pointblankcoder', target: '_BLANK' %>
          </li>
          <li class="linkedin">
            <a href="#">linkedin</a>
          </li>
          <li class="twitter">
            <a href="#">twitter</a>
          </li>
        </ul>
      </div>
      <!-- end: Social Sites -->
    </div>
  </div>
</div>
