<!-- start: Slider -->
<div class="slider-wrapper">

  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2>Amazing Products Here</h2>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
  </div>
</div>
<!-- end: Slider -->

<hr/>

<!--start: Container -->
<div class="container">
  <div class="row">
    <!-- start: Lastest Work -->
    <div class="col-sm-9">
      <div class="title"><h3>Latest Works</h3></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="picture">
            <a href="/assets/home_cinema.jpg" rel="image" title="Home Cinema System">
              <img src="/assets/home_cinema.jpg" alt="" style="height: 175px;">
              <div class="image-overlay-zoom"></div>
            </a>
          </div>
          <div class="item-description">
            <h4><a href="/">Home Cinema System</a></h4>
            <p>There's a lot to love about TV shows and movies. Especially the sound. With the SoundTouch 130 home cinema system, the 94 cm sound bar delivers clear, spacious sound all across your room, while the wireless Acoustimass module provides impactful bass.
            </p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="picture">
            <a href="/assets/home_cinema.jpg" rel="image" title="Home Cinema System">
              <img src="/assets/home_cinema.jpg" alt="" style="height: 175px;">
              <div class="image-overlay-zoom"></div>
            </a>
          </div>
          <div class="item-description">
            <h4><a href="/">Home Cinema System</a></h4>
            <p>There's a lot to love about TV shows and movies. Especially the sound. With the SoundTouch 130 home cinema system, the 94 cm sound bar delivers clear, spacious sound all across your room, while the wireless Acoustimass module provides impactful bass.
            </p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="picture">
            <a href="/assets/home_cinema.jpg" rel="image" title="Home Cinema System">
              <img src="/assets/home_cinema.jpg" alt="" style="height: 175px;">
              <div class="image-overlay-zoom"></div>
            </a>
          </div>
          <div class="item-description">
            <h4><a href="/">Home Cinema System</a></h4>
            <p>There's a lot to love about TV shows and movies. Especially the sound. With the SoundTouch 130 home cinema system, the 94 cm sound bar delivers clear, spacious sound all across your room, while the wireless Acoustimass module provides impactful bass.
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- end: Lastest Work -->

    <!-- start: Testimonials-->
    <div class="col-sm-3">
      <div class="testimonial-container">
        <div class="title"><h3>What Customers Say</h3></div>
        <div class="testimonials-carousel" data-autorotate="3000">
          <ul class="carousel">
            <li class="testimonial">
              <div class="testimonials">Without reservation I would say that the services we have received have been of a consistently high standard with an attention to detail which is excellent. Like all home owners, we rely heavily upon our technology. In particular, I would note that in “emergency situations” the response time has been suitably short on all occasions</div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Joe Blogs, <span>Customer</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end: Testimonials-->
  </div>

  <hr>

  <!-- start Clients List -->	
  <div class="clients-carousel">
    <ul class="slides clients">
      <li><img src="/assets/logos/1.png" alt=""/></li>
      <li><img src="/assets/logos/2.png" alt=""/></li>	
      <li><img src="/assets/logos/3.png" alt=""/></li>
      <li><img src="/assets/logos/4.png" alt=""/></li>
      <li><img src="/assets/logos/5.png" alt=""/></li>
      <li><img src="/assets/logos/6.png" alt=""/></li>
      <li><img src="/assets/logos/7.png" alt=""/></li>
      <li><img src="/assets/logos/8.png" alt=""/></li>
      <li><img src="/assets/logos/9.png" alt=""/></li>
      <li><img src="/assets/logos/10.png" alt=""/></li>
      <li><img src="/assets/logos/1.png" alt=""/></li>
      <li><img src="/assets/logos/2.png" alt=""/></li>	
      <li><img src="/assets/logos/3.png" alt=""/></li>
      <li><img src="/assets/logos/4.png" alt=""/></li>
      <li><img src="/assets/logos/5.png" alt=""/></li>
      <li><img src="/assets/logos/6.png" alt=""/></li>
      <li><img src="/assets/logos/7.png" alt=""/></li>
      <li><img src="/assets/logos/8.png" alt=""/></li>
      <li><img src="/assets/logos/9.png" alt=""/></li>
      <li><img src="/assets/logos/10.png" alt=""/></li>	
    </ul>
  </div>
  <!-- end Clients List -->

  <hr>
</div>
