<!-- start: Slider -->
<div class="slider-wrapper">

  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2>Twitter Bootstrap</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <a href="index.html#" class="da-link">Read more</a>
      <div class="da-img"><img src="/assets/parallax-slider/twitter.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
      <h2>Responsive Design</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <a href="index.html#" class="da-link">Read more</a>
      <div class="da-img"><img src="/assets/parallax-slider/responsive.png" alt="image02" /></div>
    </div>
    <div class="da-slide">
      <h2>HTML5</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <a href="index.html#" class="da-link">Read more</a>
      <div class="da-img"><img src="/assets/parallax-slider/html5.png" alt="image03" /></div>
    </div>
    <div class="da-slide">
      <h2>CSS3</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <a href="index.html#" class="da-link">Read more</a>
      <div class="da-img"><img src="/assets/parallax-slider/css3.png" alt="image04" /></div>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
  </div>
</div>
<!-- end: Slider -->

<!--start: Container -->
<div class="container">
  <div class="jumbotron">
    <h3>
      Smart is incredibly responsive, with a refreshingly clean responsive design and it has some awesome features, panorama sliders, 100+ icons, 50+ social icons, fancybox, isotope, google maps, facebook open graph and many, many more!
    </h3>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <!-- start: Icon Box Start -->
    <div class="col-sm-6 col-md-4">
      <div class="icons-box vertical">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-check circle full-color big"></i>
          </div>

          <div class="col-xs-8">
            <h3>Easy to use</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>		
      </div>
    </div>
    <!-- end: Icon Box-->

    <!-- start: Icon Box Start -->
    <div class="col-sm-6 col-md-4">
      <div class="icons-box vertical">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-trophy circle full-color big"></i>
          </div>

          <div class="col-xs-8">
            <h3>Best choice</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>		
      </div>
    </div>
    <!-- end: Icon Box-->

    <!-- start: Icon Box Start -->
    <div class="col-sm-6 col-md-4">
      <div class="icons-box vertical">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-tablet circle full-color big"></i>
          </div>

          <div class="col-xs-8">
            <h3>Fully responsive</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end: Icon Box-->
  </div>

  <hr>

  <div class="row">
    <!-- start: Lastest Work -->
    <div class="col-sm-9">
      <div class="title"><h3>Latest Works</h3></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="picture">
            <a href="/assets/car.jpg" rel="image" title="mobile app">
              <img src="/assets/car.jpg" >
              <div class="image-overlay-zoom"></div>
            </a>
          </div>
          <div class="item-description">
            <h4><a href="index.html#">Mobile App</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="picture">
            <a href="project.html">
              <img src="/assets/web_app1.jpg">
              <div class="image-overlay-link"></div>
            </a>
          </div>
          <div class="item-description">
            <h4><a href="index.html#">Mobile App</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="picture">
            <a href="/assets/mobile_app1.jpg" rel="image" title="mobile app">
              <img src="/assets/mobile_app1.jpg">
              <div class="image-overlay-zoom"></div>
            </a>
          </div>
          <div class="item-description">
            <h4><a href="index.html#">Mobile App</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end: Lastest Work -->

    <!-- start: Testimonials-->
    <div class="col-sm-3">
      <div class="testimonial-container">
        <div class="title"><h3>What Client’s Say</h3></div>
        <div class="testimonials-carousel" data-autorotate="3000">
          <ul class="carousel">
            <li class="testimonial">
              <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Lucas Luck, <span>CEO</span></div>
            </li>

            <li class="testimonial">
              <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Lucas Luck, <span>CTO</span></div>
            </li>

            <li class="testimonial">
              <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Lucas Luck, <span>COO</span></div>
            </li>

            <li class="testimonial">
              <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Lucas Luck, <span>CMO</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end: Testimonials-->
  </div>

  <hr>

  <!-- start Clients List -->	
  <div class="clients-carousel">
    <ul class="slides clients">
      <li><img src="/assets/logos/1.png" alt=""/></li>
      <li><img src="/assets/logos/2.png" alt=""/></li>	
      <li><img src="/assets/logos/3.png" alt=""/></li>
      <li><img src="/assets/logos/4.png" alt=""/></li>
      <li><img src="/assets/logos/5.png" alt=""/></li>
      <li><img src="/assets/logos/6.png" alt=""/></li>
      <li><img src="/assets/logos/7.png" alt=""/></li>
      <li><img src="/assets/logos/8.png" alt=""/></li>
      <li><img src="/assets/logos/9.png" alt=""/></li>
      <li><img src="/assets/logos/10.png" alt=""/></li>
      <li><img src="/assets/logos/1.png" alt=""/></li>
      <li><img src="/assets/logos/2.png" alt=""/></li>	
      <li><img src="/assets/logos/3.png" alt=""/></li>
      <li><img src="/assets/logos/4.png" alt=""/></li>
      <li><img src="/assets/logos/5.png" alt=""/></li>
      <li><img src="/assets/logos/6.png" alt=""/></li>
      <li><img src="/assets/logos/7.png" alt=""/></li>
      <li><img src="/assets/logos/8.png" alt=""/></li>
      <li><img src="/assets/logos/9.png" alt=""/></li>
      <li><img src="/assets/logos/10.png" alt=""/></li>	
    </ul>
  </div>
  <!-- end Clients List -->

  <hr>
</div>
