<!-- start: Footer Menu -->
<div id="footer-menu" class="hidden-sm hidden-xs">
  <div class="container">
    <div class="row">
      <!-- start: Footer Menu Logo -->
      <div class="col-sm-2">
        <div id="footer-menu-logo">
          <%= link_to base_application.root_path, class: 'brand' do %>
            <%= image_tag 'pbc-logo.PNG', width: '20%' %> <span>Go</span>for<span>Us</span>
        <% end %>
        </div>
      </div>
      <!-- end: Footer Menu Logo -->

      <!-- start: Footer Menu Links-->
      <div class="col-sm-9">
        <div id="footer-menu-links">
          <ul id="footer-nav">
            <li><a href="index.html">Start</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- end: Footer Menu Links-->

      <!-- start: Footer Menu Back To Top -->
      <div class="col-sm-1">
        <div id="footer-menu-back-to-top">
          <a href="#"></a>
        </div>
      </div>
      <!-- end: Footer Menu Back To Top -->
    </div>
  </div>
</div>
<!-- end: Footer Menu -->


<!-- start: Copyright -->
<div id="copyright">
  <div class="container">
    <div class="col-sm-12">
      <p>
        &copy; 2016, GoForUs Ltd
      </p>
    </div>
  </div>
</div>
